<div class='row well well-lg'>
  <div class='col-md-6'>
    <h2>Try to find out</h2>
    <p class='lead'>Match your friends'name by Korean Alphabet strokes.</p>
    <button type='button' class='btn btn-lg btn-default'>Rumble names</button>
    <%= link_to "Try to match", try_path, class: "btn btn-lg btn-primary", role: "button" %>
  </div>
  <div class='col-md-6 visible-md visible-lg'>
    <%= image_tag "newsname.png", alt: "New: name matching point", size: "420x200" %>
  </div>
</div>
